@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");


/* variables  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Spartan", sans-serif;
    background-color: #E6E5E5;
}


/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E5E5;
    padding: 1.5rem 2rem;
    font-weight: 500;
    /* position: fixed; */
    width: 100%;
    z-index: 1000;
}

@media(max-width:700px) {
    .nav-account span {
        display: none;
    }
}

.nav-menu {
    flex: 1;
    padding: 0 1.3rem;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    color: inherit;
    text-decoration: none;
    position: relative;

    &:hover {
        /* color: green; */
    }

    &:hover::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 70%;
        transition: 1s ease;
        background-color: black;
        height: 2px;
    }
}


.nav-account i {
    padding: 0.3vw;
}

.nav-account a {
    padding: 0.8vw;
}



/* intro */
.intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 0.2rem;
}

.intro-card-img {
    width: 100%;
}

.intro-card-text {
    padding: 1vw;

    & h1 {
        font-size: 2.5vw;
    }

    & p {
        font-weight: 500;
        font-size: 1.25vw;
    }

    & a {
        color: black;
        font-weight: 500;
        font-size: 1.20vw;

        &:hover {
            color: rgb(232, 15, 51);
        }
    }
}

@media(max-width: 600px) {

    .intro-card-text a {
        display: none;
    }

}

.intro-card-text>* {
    padding: 2vw;
}

.intro-card-text {
    background-color: white;
}

.intro-card-instagram-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: clamp(1vw, 2vw, 3vw);
    background-color: white;

    & p {
        font-size: 1.5vw;
        display: inline;
        font-weight: 350;
    }

    & p:nth-child(2) {
        font-size: 1vw;
    }
}

.intro-card-instagram {
    background-color: white;
}

.intro-card-instagram-fb {
    padding: 1vw 0vw;

    & p:nth-child(1) {
        font-size: 1.25vw;
    }

    & i {
        font-size: 1.25vw;
        color: white;
        background-color: black;
        border-radius: 50%;
        margin-left: 2vw;
    }
}

.intro-card-instagram-hr {
    width: 100%;

    & hr {
        border: none;
        margin-top: 1.075vw;
        background-color: orange;
    }


    & hr:nth-child(1) {
        height: 0.25vw;
    }

    & hr:nth-child(2) {
        height: 0.5vw;
    }

    & hr:nth-child(3) {
        height: 1vw;
    }

    & hr:nth-child(4) {
        height: 1.25vw;
    }

    & hr:nth-child(5) {
        height: 1.5vw;
    }

    & hr:nth-child(6) {
        height: 1.75vw;
    }
}

.purchase-text {
    padding: 2.5rem 2.25rem;
}

.purchase-text p {
    margin-top: 1rem;
    font-weight: 450;
}

.purchase-text h1 {
    font-size: 2.5rem;
}


/* items */
.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    background-color: white;
    height: 400px;
    width: 300px;
    margin-bottom: 2rem;
    border-radius: 2rem;
    padding: 1rem;
}

.item:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.item-img {
    width: 100%;
    height: 75%;
    border-radius: 2rem;
}

.item-text {
    padding: 1rem 0rem;
}

.item-text-details p {
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
}

.item-text-details h4 {
    padding-bottom: 0.3rem;
}

.item-cart-flex {
    display: flex;
    justify-content: space-between;
}

.item-cart-flex {
    font-size: 1.5rem;
}

.fa-shopping-cart {
    margin-right: 1rem;
}

.item-img-1 {
    background: url(./assests/items/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-2 {
    background: url(./assests/items/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-3 {
    background: url(./assests/items/3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-4 {
    background: url(./assests/items/4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-5 {
    background: url(./assests/items/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-6 {
    background: url(./assests/items/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-7 {
    background: url(./assests/items/3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-8 {
    background: url(./assests/items/4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-9 {
    background: url(./assests/items/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-10 {
    background: url(./assests/items/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-11 {
    background: url(./assests/items/3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-12 {
    background: url(./assests/items/4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-13 {
    background: url(./assests/items/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-14 {
    background: url(./assests/items/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-15 {
    background: url(./assests/items/3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-img-16 {
    background: url(./assests/items/4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-next {
    margin-top: 1rem;
    ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    & a {
        text-decoration: none;
        font-size: 1.75rem;
        font-weight: 500;
        padding: 15px 20px;
        background-color: black;
        color: white;
        border-radius: 5px;
    }
}

.slider-parent {
    position: relative;
    width: 80%;
    overflow: hidden;
    height: 50rem;
    margin-top: 7rem;
    left: 50%;
    transform: translateX(-50%);

}

.slider {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    object-fit: cover;
    transition: transform 0.5s ease;
}